<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="apitest">
  <parameter name="host" value="http://bdp-app.bitnei.cn:7788" />
  <parameter name="suite" value="suiteParameter" />
	<!--thread-count 并发线程数  preserve-order classes按顺序执行   verbose 输出日志等级 -->
  <test parallel="classes" thread-count="5" name="APITEST" verbose="2" preserve-order="true">  
  <classes>
    <class name = "com.bitnei.apitest.testcases.getVehCountPerMonitorPlatform" />
    <class name = "com.bitnei.apitest.testcases.PostVehicles" />
    <class name = "com.bitnei.apitest.testcases.EvDetail" />
  </classes>
   
  </test> <!-- Test -->
</suite> <!-- Suite -->
